<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <script src="{{ url_for('static', filename='map-style.js') }}"></script>
  </head>
  <body>
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap&libraries=visualization&v=weekly"
      defer
    ></script>
    <script>
      let map, heatmap, police_stations;

      function initMap() {

        // Create the map
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: {{ zoom }},
          center: new google.maps.LatLng({{ center[0] }}, {{ center[1] }}),
          mapTypeId: "roadmap",
          styles: mapStyle,
          disableDefaultUI: true,
        });

        // Create the Recenter button
        const recenterButton = document.createElement("button");
        recenterButton.classList.add("dark-button");
        recenterButton.innerHTML = '<i class="fa-solid fa-arrows-to-dot"></i>';
        recenterButton.title = "Recenter the map";
        recenterButton.addEventListener("click", () => {
          map.setCenter(new google.maps.LatLng({{ center[0] }}, {{ center[1] }}));
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(recenterButton);

        // Create the map zoom buttons
        const zoomOutButton = document.createElement("button");
        zoomOutButton.id = "zoom-bottom"
        zoomOutButton.classList.add("dark-button");
        zoomOutButton.innerHTML = '<i class="fa-solid fa-minus"></i>';
        zoomOutButton.title = "Zoom out";
        zoomOutButton.addEventListener("click", () => {
          map.setZoom(map.getZoom() - 1);
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(zoomOutButton);
        
        const zoomInButton = document.createElement("button");
        zoomInButton.id = "zoom-top"
        zoomInButton.classList.add("dark-button");
        zoomInButton.innerHTML = '<i class="fa-solid fa-plus"></i>';
        zoomInButton.title = "Zoom in";
        zoomInButton.addEventListener("click", () => {
          map.setZoom(map.getZoom() + 1);
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(zoomInButton);

        // Create the crime heatmap
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: [{% for point in heatmap %}
              new google.maps.LatLng({{ point[0] }}, {{ point[1] }}),
          {% endfor %}],
          map: map,
          radius: 20,
        });

        // Create the heatmap size buttons
        const heatPlusButton = document.createElement("button");
        heatPlusButton.id = "zoom-bottom"
        heatPlusButton.classList.add("dark-button");
        heatPlusButton.innerHTML = '<i class="fa-solid fa-minimize"></i>';
        heatPlusButton.title = "Shrink Heatmap";
        heatPlusButton.addEventListener("click", () => {
          heatmap.set("radius", heatmap.get("radius") - 2);
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(heatPlusButton);
        
        const heatMinusButtom = document.createElement("button");
        heatMinusButtom.id = "zoom-top"
        heatMinusButtom.classList.add("dark-button");
        heatMinusButtom.innerHTML = '<i class="fa-solid fa-maximize"></i>';
        heatMinusButtom.title = "Enlarge Heatmap";
        heatMinusButtom.addEventListener("click", () => {
          heatmap.set("radius", heatmap.get("radius") + 2);
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(heatMinusButtom);

        // Create the police station markers
        police_stations = [{% for station in police_stations %}
            new google.maps.Marker({
              position: new google.maps.LatLng({{ station[0] }}, {{ station[1] }}),
              map: map,
            }),
        {% endfor %}];
      }

      window.initMap = initMap;
    </script>
  </body>
</html>
