<!DOCTYPE html>
<html>

  <head>
    <title>{{ title }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <script src="{{ url_for('static', filename='map-style.js') }}"></script>
  </head>

  <body>
    <div id="map"></div>
    
    <div id="map-controls" style="display: none">
      <button id="recenterButton" class="dark-button" title="Recenter Map">
        <i class="fa-solid fa-arrows-to-dot"></i>
      </button>
      <button id="zoomOutButton" class="dark-button button-bottom" title="Zoom out">
        <i class="fa-solid fa-minus"></i>
      </button>
      <button id="zoomInButton" class="dark-button button-top" title="Zoom in">
        <i class="fa-solid fa-plus"></i>
      </button>
      <button id="heatPlusButton" class="dark-button button-bottom" title="Shrink Heatmap">
        <i class="fa-solid fa-minimize"></i>
      </button>
      <button id="heatMinusButton" class="dark-button button-top" title="Enlarge Heatmap">
        <i class="fa-solid fa-maximize"></i>
      </button>
      <div id="timelinePanel" class="dark-panel">
        <input id="timelineSlider" type="range" min="{{ min_year }}" max="{{ current_year }}" value="{{ current_year }}" step="1" oninput="this.nextElementSibling.value = this.value" onchange="performFilterRequest()">
        <output id="timelineLabel">{{ current_year }}</output>
      </div>
      <div id="crimeTypePanel" class="dark-panel">
        <h2>Filter Crime Types</h2>
        <select multiple id="crimeTypeDropdown">
          {% for crime_type in crime_types %}
            <option value="{{ crime_type }}">{{ crime_type }}</option>
          {% endfor %}
        </select>
      </div>
      <div id="legend" class="dark-panel">
        <h2>Marker Legend</h2>
        <div class="panel-item"><img class="panel-icon" src="{{ url_for('static', filename='policeStation.svg') }}" width="24" height="24">Police Stations</div>
        <div class="panel-item"><img class="panel-icon" src="{{ url_for('static', filename='clusteringMarker.svg') }}" width="24" height="24">Presence Predictions</div>
      </div>
    </div>


    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap&libraries=visualization&v=weekly"
      defer
    ></script>

    <script>
      $(function() {
        // Initialize base variables
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
        let map, heatmap_markers, police_stations_markers, presence_predictions_markers;
      });

      // Perform a get request to the filter for different parameters
      function performFilterRequest() {

        // Disable filter controls while request is being made
        crimeTypeDropdown.disabled = true;
        timelineSlider.disabled = true;

        // Get the year and crime types from the filter controls
        const year = document.getElementById("timelineSlider").value;
        const selectedOptions = Array.from(document.getElementById("crimeTypeDropdown").selectedOptions).map(option => option.value);
        
        // Make the filter request
        $.getJSON($SCRIPT_ROOT + "/api/filter", {
          year: year,
          crime_types: selectedOptions
        }, function(data) {
          
          // Remove old markers, create new ones
          heatmap_markers.setMap(null);
          heatmap_markers = new google.maps.visualization.HeatmapLayer({
            data: data.map(point => new google.maps.LatLng(point[0], point[1])),
            map: map,
            radius: {{ heatmapRadius }},
          });

          // Enable filter controls after request is made
          crimeTypeDropdown.disabled = false;
          timelineSlider.disabled = false;
        });
      }

      // Initialize the map
      function initMap() {

        // Create the map
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: {{ zoomLevel }},
          center: new google.maps.LatLng({{ center[0] }}, {{ center[1] }}),
          mapTypeId: "roadmap",
          styles: mapStyle,
          disableDefaultUI: true,
          clickableIcons: false,
        });

        // Create the crime heatmap
        heatmap_markers = new google.maps.visualization.HeatmapLayer({
          data: [{% for point in heatmap %}
              new google.maps.LatLng({{ point[0] }}, {{ point[1] }}),
          {% endfor %}],
          map: map,
          radius: {{ heatmapRadius }},
        });

        // Create the police station markers
        const markerSize = 32;
        police_stations_markers = [{% for marker in police_stations %}
            new google.maps.Marker({
              position: new google.maps.LatLng({{ marker[0] }}, {{ marker[1] }}),
              icon: {
                url: "{{ url_for('static', filename='policeStation.svg') }}",
                scaledSize: new google.maps.Size(markerSize, markerSize)
              },
              map: map,
            }),
        {% endfor %}];

        // Create the markers for police presence predictions
        presence_predictions_markers = [{% for marker in presence_predictions %}
            new google.maps.Marker({
              position: new google.maps.LatLng({{ marker[0] }}, {{ marker[1] }}),
              icon: {
                url: "{{ url_for('static', filename='clusteringMarker.svg') }}",
                scaledSize: new google.maps.Size(markerSize, markerSize)
              },
              map: map,
            }),
        {% endfor %}];

        // Create the Recenter button
        const recenterButton = document.getElementById("recenterButton");
        recenterButton.addEventListener("click", () => {
          map.setCenter(new google.maps.LatLng({{ center[0] }}, {{ center[1] }}));
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(recenterButton);

        // Create the map zoom buttons
        const zoomOutButton = document.getElementById("zoomOutButton");
        zoomOutButton.addEventListener("click", () => {
          if (map.getZoom() > {{ zoomLevelMin }}) map.setZoom(map.getZoom() - 1);
          if (map.getZoom() <= {{ zoomLevelMin }}) zoomOutButton.disabled = true;
          if (map.getZoom() < {{ zoomLevelMax }}) zoomInButton.disabled = false;
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(zoomOutButton);
        
        const zoomInButton = document.getElementById("zoomInButton");
        zoomInButton.addEventListener("click", () => {
          if (map.getZoom() < {{ zoomLevelMax }}) map.setZoom(map.getZoom() + 1);
          if (map.getZoom() >= {{ zoomLevelMax }}) zoomInButton.disabled = true;
          if (map.getZoom() > {{ zoomLevelMin }}) zoomOutButton.disabled = false;
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(zoomInButton);

        // Create the timeline slider
        const timelinePanel = document.getElementById("timelinePanel");
        const timelineSlider = document.getElementById("timelineSlider");
        map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(timelinePanel);

        // Create the crime type dropdown
        const crimeTypePanel = document.getElementById("crimeTypePanel");
        const crimeTypeDropdown = document.getElementById("crimeTypeDropdown");
        crimeTypeDropdown.querySelectorAll('option').forEach(option => option.selected = true);
        crimeTypeDropdown.addEventListener("change", () => {
          performFilterRequest();
        });
        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(crimeTypePanel);

        // Create the legend
        const legend = document.getElementById("legend");
        map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);

        // Create the heatmap size buttons
        const heatPlusButton = document.getElementById("heatPlusButton");
        heatPlusButton.addEventListener("click", () => {
          if (heatmap_markers.get("radius") > {{ heatmapRadiusMin}}) heatmap_markers.set("radius", heatmap_markers.get("radius") - 4);
          if (heatmap_markers.get("radius") <= {{ heatmapRadiusMin}}) heatPlusButton.disabled = true;
          if (heatmap_markers.get("radius") < {{ heatmapRadiusMax}}) heatMinusButton.disabled = false;
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(heatPlusButton);
        
        const heatMinusButton = document.getElementById("heatMinusButton");
        heatMinusButton.addEventListener("click", () => {
          if (heatmap_markers.get("radius") < {{ heatmapRadiusMax}}) heatmap_markers.set("radius", heatmap_markers.get("radius") + 4);
          if (heatmap_markers.get("radius") >= {{ heatmapRadiusMax}}) heatMinusButton.disabled = true;
          if (heatmap_markers.get("radius") > {{ heatmapRadiusMin}}) heatPlusButton.disabled = false;
        });
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(heatMinusButton);

      }

      window.initMap = initMap;
    </script>
  </body>
</html>
